.heart {
  width: 100px;
  height: 90px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  margin: 20px auto;
}

.heart::before,
.heart::after {
  content: "";
  width: 100px;
  height: 90px;
  background: red;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}
